/build/classes/jivko/back/wavtest.rar
/build/classes/jivko/back/wavtest2.rar
/build/classes/jivko/back/wavtest3.rar
/build/classes/jivko/sphinx/util/microphtest.rar
/build/classes/jivko/sphinx/util/recognizertest/HelloNGram.class
/build/classes/jivko/sphinx/util/recognizertest/README.html
/build/classes/jivko/sphinx/util/recognizertest/hellongram.Manifest
/build/classes/jivko/sphinx/util/recognizertest/hellongram.config.xml
/build/classes/jivko/sphinx/util/recognizertest/hellongram.test
/build/classes/jivko/sphinx/util/recognizertest/hellongram.trigram.lm
