<?xml version="1.0"?>
<configuraion>    
  <item name="CommandsDB">db/commands.xml</item>
  <item name="DictionariesDB">db/dictinaries</item>
  <item name="DialogsDB">db/dialogs.xml</item>
  <item name="JokesDB">db/jokes.xml</item>
  <item name="SketchesDB">db/sketches.xml</item>
</configuraion>